@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --inter: "Inter", sans-serif;
    --play: "Play", sans-serif;
    --bg-color: #f3f5fc;
    --accent: #0a3871;
    --text-color-primary: #343a40;
    --text-color-secondary: #495057;
    --alert-bg: #FECACA;
    --alert-text: #450A0A;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--bg-color);
}

.site {
    height: 100dvh;
    display: grid;
    grid-template-rows: 1fr minmax(0, 80%) 1fr;
    grid-template-columns: 1fr 10% minmax(0, 40%) 25% 1fr;
    font-family: var(--inter);
    column-gap: 40px;
}

.menu {
    grid-column: 2 / 3;
    margin-top: 40px;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
}

.menu h1 {
    display: none;
}


h1 {
    grid-column: 3;
    margin-top: 40px;
    margin-bottom: 16px;
    font-family: var(--play);
    font-size: 4rem;
    font-weight: 500;
    color: var(--accent);
    align-self: center;
}

.input-section {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.input-section p {
    font-size: 14px;
    line-height: 150%;
    color: var(--text-color-secondary);
}

.input-section i {
    margin-right: 8px;
} 

.btn-wrap {
    display: flex;
    gap: 24px;
}

.btn {
    width: 50%;
    border: none;
    border-radius: 16px;
    padding: 2.4rem;
    border: 2px solid var(--accent);
    transition: ease-in .3s;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    background-color: var(--accent);
    color: white;
}

.btn--primary:hover {
    background: #1e40af;
    border-color: #1e40af;
    box-shadow: 0 0 5px color-mix(in srgb, #1e40af, transparent 10%);
}

.btn--secondary:hover {
    background: #eff1fa;
    color: #0a3871;
}

.btn__text {
    font-size: 1.6rem;
}

.text-input {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    padding: 16px;
    font-size: 3.2rem;
    color: var(--accent);
}

.text-input::placeholder {
    color: var(--accent);
    opacity: 1;
    font-family: var(--inter);
    font-weight: 400;
    line-height: 150%;
}

.text-input:focus {
    box-shadow: 0 0 4px #719ece;
}

.output-section {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    margin: 40px 0;
    background-color: white;
    padding: 3.2rem 3.2rem 3.4rem;
    border-radius: 32px;
    box-shadow: 0 0 20px color-mix(in srgb, var(--accent), transparent 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.output--default {
    display: flex;
    flex-direction: column;
}

.output--default img {
    margin-bottom: 32px;
}

.output--default h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    margin-bottom: 16px;
}

.output--default p {
    font-size: 1.6rem;
    line-height: 150%;
    text-align: center;
}

.output--print {
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.output--print p{
    height: 100%;
    font-size: 2.4rem;
    line-height: 130%;
    margin-bottom: 16px;
    padding: 0 .8rem;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.output--print button {
    width: 100%;
}

.error {
    width: 30%;
    /* height: 70px; */
    padding: 16px 24px;
    background-color: var(--alert-bg);
    border-radius: 16px;
    position: absolute;
    left: 30%;
    top: 70%;
    transform: translate(-50%);
    box-shadow: 0 0 20px color-mix(in srgb, var(--alert-bg), transparent 50%);
    border: 2px solid color-mix(in srgb, var(--alert-text), transparent 80%);
    display: none;
}

.error.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error i {
    margin-right: 8px;
    font-size: 1.8rem;
}

.error__msg {
    font-size: 1.8rem;
    color: var(--alert-text);
}

.hide {
    display: none;
}

.show {
    display: flex;
}


@media (max-width: 768px) {
    .site {
        grid-template-columns: 1fr minmax(0, 80%) 1fr;
        grid-template-rows: auto;
        column-gap: 0;
        height: auto;
    }
    .menu {
        margin-top: 20px;
        height: 46px;
        justify-content: space-evenly;
        gap: 16px;
    }

    .menu h1 {
        display: block;
        font-size: 3.2rem;
        margin: 0;
    }
    .menu img {
        width: 5%;
    }
    
    .input-section {
        grid-column: 2;
        height: calc(100vh - 106px);
        padding-bottom: 24px;
    }
    
    .output-section {
        grid-column: 2;
        grid-row: 3;
        margin: 20px 0;
    }

    .output--default img {
        display: none;
    }

    h1 {
        display: none;
    }
}

@media (max-width: 376px) {
    .menu img {
        width: 7%;
    }

    .menu h1 {
        font-size: 2.4rem;
    }

    .btn {
        width: 100%;
    }
    
    .btn-wrap {
        flex-wrap: wrap;
    }
    
}